<app-navbar />

<div class="container">
  <br />
  <div class="row">
    <div class="col col-12">
      <h3>Pipes</h3>
    </div>
    <div class="col-sm-12 col-lg-3">
      <span
        class="h4 m-1"
        title="Returns the given value from a stream, but SWITCHES to a newer stream if given, forgetting about the current not being finished"
        >switchMap</span
      >

      <button class="btn btn-primary" (click)="switchMapExample()">
        Subscribe
      </button>
    </div>

    <div class="col-sm-12 col-lg-3">
      <span class="h4 m-1">concatMap</span>
      <button class="btn btn-primary" (click)="concatMapExample()">
        Subscribe
      </button>
    </div>

    <div class="col-sm-12 col-lg-3">
      <span class="h4 m-1">mergeMap</span>

      <button class="btn btn-primary" (click)="mergeMapExample()">
        Subscribe
      </button>
    </div>

    <div class="col-sm-12 col-lg-3">
      <span class="h4 m-1">exhaustMap</span>

      <button class="btn btn-primary" (click)="mergeMapExample()">
        Subscribe
      </button>
    </div>
  </div>

  <hr />
  <div class="col-12">
    <h2>Emit next value in:</h2>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" (click)="emitValue(1)">Emit in 1s</button>
    <button class="btn btn-success" (click)="emitValue(2)">Emit in 2s</button>
    <button class="btn btn-danger" (click)="emitValue(3)">Emit in 3s</button>
    <button class="btn btn-secondary" (click)="emitValue(4)">Emit in 4s</button>
  </div>
  <br />
  <div class="alert alert-warning" role="alert">
    <i class="bi bi-exclamation-triangle"></i>
    Subscribe and then try to emit: <br />
    1. In different orders and watching the coming results <br />
    2. By emitting a few values at once and watching if they came in same order
    if came
  </div>
</div>

<hr />
<div class="container">
  <h2>Result</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Friends</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of data">
        <th scope="row">{{ person.id }}</th>
        <td>{{ person.name }}</td>
        <td>{{ person.friends.join() }}</td>
        <td>{{ person.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
