<app-navbar />

<div class="container">
  <br />
  <div class="row">
    <div class="col col-12">
      <h3>Pipes</h3>
    </div>
    <div class="col col-sm-12 col-lg-3">
      <span
        class="h4 m-1"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Returns the given value from a stream, but SWITCHES to a newer stream if given, forgetting about the current not being finished"
        >switchMap</span
      >

      <button
        class="btn btn-primary"
        (click)="switchMapExample()"
        class="btn"
        [class.btn-secondary]="!switchStream$"
        [class.btn-primary]="switchStream$"
      >
        {{ switchStream$ ? "Unsubscribe" : "Subscribe" }}
      </button>
    </div>

    <div class="col col-sm-12 col-lg-3">
      <span
        class="h4 m-1"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Memorizes the exact order of emits and does them in the same order, one by one"
        >concatMap</span
      >
      <button
        class="btn btn-primary"
        (click)="concatMapExample()"
        class="btn"
        [class.btn-secondary]="!concatStream$"
        [class.btn-primary]="concatStream$"
      >
        {{ concatStream$ ? "Unsubscribe" : "Subscribe" }}
      </button>
    </div>

    <div class="col col-sm-12 col-lg-3">
      <span
        class="h4 m-1"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Executes all of the streams once they emit value, no matter the order"
        >mergeMap</span
      >

      <button
        class="btn btn-primary"
        (click)="mergeMapExample()"
        class="btn"
        [class.btn-secondary]="!mergeStream$"
        [class.btn-primary]="mergeStream$"
      >
        {{ mergeStream$ ? "Unsubscribe" : "Subscribe" }}
      </button>
    </div>

    <div class="col col-sm-12 col-lg-3">
      <span
        class="h4 m-1"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Doesn't bother other calls once is busy working with one or specified amount of streams"
        >exhaustMap</span
      >

      <button
        class="btn btn-secondary"
        [class.btn-secondary]="!exhaustStream$"
        [class.btn-primary]="exhaustStream$"
        (click)="exhaustMapExample()"
      >
        {{ exhaustStream$ ? "Unsubscribe" : "Subscribe" }}
      </button>
    </div>

    <div class="col col-sm-12 col-lg-3">
      <span
        class="h4 m-1"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Await all observables to be completed (finished) before emitting their results altogether, unsubscribe after final emit to play again"
        >forkJoin</span
      >

      <button
        class="btn btn-primary"
        (click)="forkJoinExample()"
        class="btn"
        [class.btn-secondary]="!forkJoinStream$"
        [class.btn-primary]="forkJoinStream$"
      >
        {{ forkJoinStream$ ? "Unsubscribe" : "Subscribe" }}
      </button>
    </div>

    <div class="col col-sm-12 col-lg-3">
      <span
        class="h4 m-1"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Await all streams to be emitted before emitting their results altogether, can be ran over and over again"
        >zip</span
      >

      <button
        class="btn btn-primary"
        (click)="zipExample()"
        class="btn"
        [class.btn-secondary]="!zipStream$"
        [class.btn-primary]="zipStream$"
      >
        {{ zipStream$ ? "Unsubscribe" : "Subscribe" }}
      </button>
    </div>
  </div>

  <hr />
  <div class="col-12">
    <h2>Emit value</h2>
  </div>
  <div class="col-12">
    <button
      class="btn btn-primary e1s"
      [class.active]="activeBtns[1]"
      [class.signalSending]="signalSendingBtns[1]"
      [disabled]="disabledBtns[1]"
      (click)="emitValue(1); betty$.next('betty')"
    >
      Betty in 1s
    </button>
    <button
      class="btn btn-success e2s"
      [class.signalSending]="signalSendingBtns[2]"
      [class.active]="activeBtns[2]"
      [disabled]="disabledBtns[2]"
      (click)="emitValue(2); charlie$.next('charlie')"
    >
      Charlie in 2s
    </button>
    <button
      class="btn btn-danger e3s"
      [class.signalSending]="signalSendingBtns[3]"
      [class.active]="activeBtns[3]"
      [disabled]="disabledBtns[3]"
      (click)="emitValue(3); daniel$.next('daniel')"
    >
      Daniel in 3s
    </button>
    <button
      class="btn btn-secondary e4s"
      [class.signalSending]="signalSendingBtns[4]"
      [class.active]="activeBtns[4]"
      [disabled]="disabledBtns[4]"
      (click)="emitValue(4); elon$.next('elon')"
    >
      Elon in 4s
    </button>
  </div>
  <br />
  <div class="alert alert-warning" role="alert">
    <i class="bi bi-exclamation-triangle"></i>
    Subscribe and then try to emit: <br />
    1. In different orders and watching the coming results <br />
    2. By emitting a few values at once and watching if they came in same order
    if came
  </div>
</div>

<hr />
<div class="container">
  <div class="row">
    <div class="col-9 col-sm-11 col-md-11 col-lg-11">
      <span class="h2">Result</span>
    </div>
    <div class="col-1">
      <button class="btn btn-primary" (click)="clearTable()">Clear</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Friends</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of data">
        <th scope="row">{{ person.id }}</th>
        <td>{{ person.name }}</td>
        <td>{{ person.friends.join() }}</td>
        <td>{{ person.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
